/*==================COMMUN AUX PAGES==================*/

html {
	background-color: #ffffff;
	min-width: 100px;
	max-width: 2440px;
	font-size: 32px;
	font-family: Courier New;
	color: #4a4a4a;
	text-align: center;
}
h1, h2, h3, h4 {
	font-family: Verdana;
}
body {
	width: 100%;
	margin: auto;
}
div {
	width: 100%;
}
p {
	margin: auto;
}
table {
	border: 50px solid #ffffff;
	width: 100%;
	max-height: 200px;
	text-align: center;
}
td {
	border: 5px solid #4a4a4a;
	height: 100%;
	width: 30%;
	background-color: #bebebe;
}
.header {
	text-align: center;
	background-color: #ffffff;
	color: #444444;
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 210px;
}
.tableHead {
	border: none;
	height: auto;
}
#tdBlankHead {
	border: none;
	width: 33%;
	background-color: #3b5998;
}
#logo {
	height: 50%;
	max-height: 116px;
}
#tdHead {
	border: none;
	background-color: #ffffff;
	width: 25%;
}
#tdLIAHead {
	border: none;
	background-color: #ffffff;
	width: 50%;
	font-family: verdana;
}
#bleu {
	font-weight: bold;
	color: #0496d1;
}
#vert_fonce{
	font-weight: bold;
	color: #305b3d;
}
#vert_clair{
	font-weight: bold;
	color: #88b87e;
}
.retouraccueil {
	border: none;
	position: absolute;
	line-height: 1.9;
	top: 10px;
	right: 60px;
	font-size: 65%;
	height: 40px;
	width: 100px;
	background-color: #bebebe;
	border-radius: 0 50px 50px 0;
}
.pageprecedente {
	border: none;
	position: absolute;
	line-height: 1.9;
	top: 65px;
	right: 60px;
	font-size: 65%;
	height: 40px;
	width: 100px;
	background-color: #969696;
	border-radius: 50px 0 0 50px;
}
.tabledep {
	border: none;
	border-spacing: 0px;
	text-align: center;
	font-size: 80%;
	background-color: #ffffff;
	height: 60px;
}
#tddep {
	border: none;
	border-top: 2px solid #0496d1;
	border-radius: 0 0 20px 20px ;
	background-color: #88b87e;
	
}
#tdblankdep {
	border: none;
	border-top: 2px solid #0496d1;
	border-radius:  0 0 50px 50px ;
	width: 25%;
	height: 100%;
	background-color: #ffffff;
}
#tdblankdep1 {
	border: none;
	border-top: 2px solid #0496d1;
	border-radius: 50px 0 0 0 ;
	width: 25%;
	height: 100%;
	background-color: #ffffff;
}
#tdblankdep2 {
	border: none;
	border-top: 2px solid #0496d1;
	border-radius: 0 50px 0 0 ;
	width: 25%;
	height: 100%;
	background-color: #ffffff;
}
footer {
	text-align: left;
	margin-top: 50px;
	background-color: #88b87e;
	height: 200px;
	color: black;
}
.tableFoot {
	border: none;
	height: auto;
	margin-top: 10px;
	background-color: #88b87e;
	font-size: 70%;
}
.tableFootborder {
	border: none;
	border-bottom: 2px solid #0496d1;
	border-radius: 0 0 50px 50px ;
	height: 40px;
	margin-top: 10px;
	background-color: #ffffff;
}
.tdFooter {
	border: none;
	height: auto;
	width: 30%;
	background-color: #88b87e;
}
#tdFooter1 {
	font-size: 50%;
	vertical-align: top;
	text-align: left;
}
#tdFooter2 {
	font-size: 70%;
	text-align: center;
	line-height: 2em;
}
#FBfooter {
	height: 50px;
}

/*==================PAGE D'ACCUEIL==================*/

#Bienvenue {
	text-align: center;
	font-family: Indie Flower, cursive;
	font-style: italic;
	color: #f0f9f4;
}
#tdblank {
	border: none;
	width: 5%;
	height: 100%;
	background-color: #ffffff;
}
#table2 {
	margin: 40px 0 0 0;
	font-family: Verdana;
	font-size: 80%;
}
#cadre3 {
	border: 15px solid #bebebe;
	border-radius: 30px;
}
#cadre {
	border: none;
	background-color: #ffffff;
	height: 70px;
	text-align: center;
}
#blank_table{
	border: none;
	background-color: #ffffff;
	text-align: center;
	font-family: Indie Flower, cursive;
}
#Trfspe {
	text-align: center;
	font-family: Indie Flower;
}
#cadrelia1 {
	border: 50px solid #ffffff;
	background-color: #ffffff;
	height: 80px;
}
#cadrelia2 {
	color: #ffffff;
	border: 0px solid #ffffff;
	border-radius: 50px;
	background-color: #4a4a4a;
	height: 80px;
	font-family: Verdana;
}
#hrefFont {
	color: white;
	font-size: 80%;
}