@charset "utf-8";

/*==================COMMUN AUX PAGES==================*/

/*=== BASE CSS ===*/

html {
	background-color: #f0f9f4;
	min-width: 100px;
	max-width: 2440px;
	font-size: 2vw;
	font-family: Courier New, serif;
	color: #4a4a4a;
	text-align: center;
}
h1, h2, h3, h4, h5 {
	font-family: Verdana, sans serif;
	font-weight: bold;
}
body {
	width: 100%;
	margin: auto;
}
div {
	width: 100%;
}
p {
	margin: auto;
}
table {
	border: 2vw solid #f0f9f4;
	width: 100%;
	max-height: 30vw;
	text-align: center;
}
td {
	height: 100%;
	width: 30%;
	background-color: #bebebe;
}
ul {
	margin: none;
	padding: none;
}
li {
	display: inline;
	list-style: none;
}

/*=== En-Tête 1 et 2 ===*/

header {
	text-align: center;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 210px;
	margin-bottom: 5vw;
}

/*=== En-Tête ligne 1 ===*/

.tableHead {
	border: none;
	height: auto;
}
#tdLogo {
	border: none;
	background-color: #ffffff;
	width: 25%;
	padding-left: 7%;
}
#tdLIAHead {
	border: none;
	background-color: #ffffff;
	width: 50%;
	font-family: Verdana, sans serif;
}
#bleu {
	font-weight: bold;
	color: #0496d1;
}
#vert_fonce {
	font-weight: bold;
	color: #305b3d;
}
#vert_clair {
	font-weight: bold;
	color: #88b87e;
}
#retouraccueil {
	border: none;
	position: absolute;
	line-height: 2;
	top: 2vw;
	right: 5vw;
	font-size: 70%;
	height: 3vw;
	width: 7vw;
	background-color: #bebebe;
	border-radius: 0 5vw 5vw 0;
}
#pageprecedente {
	border: none;
	position: absolute;
	line-height: 2;
	top: 5.5vw;
	right: 5vw;
	font-size: 70%;
	height: 3vw;
	width: 7vw;
	background-color: #4a4a4a;
	border-radius: 5vw 0 0 5vw;
}

/*=== En-Tête ligne 2 ===*/

.tabledep {
	border: none;
	border-spacing: 0px;
	text-align: center;
	background-image: linear-gradient(#ffffff, #f0f9f4);
	height: 5vw;
}
#tdblankdep1 {
	border: none;
	border-top: 2px solid #cf3333;
	border-radius: 3vw 0 0 0 ;
	background-color: #f0f9f4;
	width: 30%;
	padding-left: 2%;
}
#connexion {
	width: 30%;
	position: fixef;
	left: 2vw;
}
#tddep {
	border: none;
	border-top: 2px solid #cf3333;
	border-radius: 0 0 3vw 3vw;
	width: 40%;
	background-color: #0496d1;	
}
#tdblankdep2 {
	border: none;
	border-top: 2px solid #cf3333;
	border-radius: 0 3vw 0 0 ;
	background-color: #f0f9f4;
}

/*=== Pied de Page ===*/

footer {
	text-align: left;
	background-color: #88b87e;
	height: 20vw;
	color: black;
}
.tableFoot {
	border: none;
	height: auto;
	margin-top: 10px;
	background-color: #88b87e;
	font-size: 90%;
}
.tableFootborder {
	border: none;
	border-bottom: 2px solid #cf3333;
	border-radius: 0 0 50px 50px ;
	height: 40px;
	margin-top: 10px;
	background-color: #f0f9f4;
}
.tdFooter {
	border: none;
	height: auto;
	width: 30%;
	background-color: #88b87e;
}
#tdFooter1 {
	font-size: 60%;
	vertical-align: top;
	text-align: left;
}
#tdFooter2 {
	font-size: 65%;
	text-align: center;
	line-height: 2em;
}

/*==================PAGE D'ACCUEIL==================*/

#titre {
	text-align: center;
	font-family: Verdana, sans serif;
	color: #f0f9f4;
}
#Bienvenue {
	text-align: center;
	font-family: Indie Flower, cursive;
	font-style: italic;
	color: #f0f9f4;
}
#tdblank {
	border: none;
	width: 5%;
	height: 100%;
	background-color: #f0f9f4;
}
#table2 {
	margin: 40px 0 0 0;
	font-family: Verdana, sans serif;
}
#cadreDep {
	border: 15px solid #305b3d;
	border-radius: 3vw 1.5vw 1.5vw 7vw;
	background-color: #305b3d;
	color: #f0f9f4;
}
#cadreFor {
	border: 15px solid #4a4a4a;
	border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
	background-color: #4a4a4a;
}
#cadreRec {
	border: 15px solid #88b87e;
	border-radius: 1.5vw 3vw 7vw 1.5vw;
	background-color: #88b87e;
}
#cadre {
	border: none;
	background-color: #f0f9f4;
	height: 70px;
	text-align: center;
}
#blank_table{
	border: none;
	background-color: #f0f9f4;
	text-align: center;
}
#Trfspe {
	text-align: center;
	font-family: Indie Flower;
}
#cadrelia1 {
	border: 50px solid #f0f9f4;
	background-color: #f0f9f4;
	height: 80px;
	font-family: Verdana, sans serif;
}
#cadrelia2 {
	border: 0px solid #f0f9f4;
	border-radius: 50px;
	background-color: #0496d1;
	height: 80px;
	font-size: auto;
}